
/* ------------ LAYOUT EFFECTS -------------- */

@keyframes revealingIn {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes revealingIn {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);    
  }
  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
}
@-webkit-keyframes revealingOut {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);    
  }
  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
}

@keyframes appear {
  0%,7%,100% {
    opacity: 0;
  }  
  8%,95% {
    opacity: 1;
  }  
}
@-webkit-keyframes appear {
  0%,7%,100% {
    opacity: 0;
  }  
  8%,95% {
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
    -webkit-transform: translateX(-1px);
  }
  
  20%, 80% {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
    -webkit-transform: translateX(4px);
  }
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
    -webkit-transform: translateX(-1px);
  }
  
  20%, 80% {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
    -webkit-transform: translateX(4px);
  }
}


/* ------------ LOADING Animations -------------- */