:root {
  --main:;
  --secondary:#FCCD04;
  --third:#FFB48F;
  --light:#F5E6CC;
  --teal:#17E9E0;
  --lightGrey:#e9e9e9;
  --darkTeal:#17252A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkTeal);
}